<footer>
    <div id="main-frame-error" class="interstitial-wrapper trex">
      <div id="main-content">
          <div class="icon icon-offline" alt=""></div>
      </div>
      <div id="offline-resources">
          <img id="offline-resources-1x" src="/assets/default_100_percent/100-offline-sprite.png">
          <img id="offline-resources-2x" src="/assets/default_200_percent/200-offline-sprite.png">
      </div>
    </div>
  <section id="mail">
    <h2>Contact:</h2>
    <a href="{{site.author.mail}}" class="btn">Send me a mail!</a>
  </section>
  <div class="grid fw-grid">
    <div class="row">
      <div class="col col-4-of-4">
        <ul>
          <li>
            <a href="{{site.author.github}}">
              <img src="{{site.baseurl}}/img/github-logo.svg">
            </a>
          </li>
          <li>
            <a href="{{site.author.twitter}}">
              <img src="{{site.baseurl}}/img/twitter-logo.svg">
            </a>
          </li>
          <li>
            <a href="{{site.author.facebook}}">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col col-4-of-4">
        Made with ❤ by <a href="{{site.author.github}}">@arguiot</a>
        <br>
        © Copyright 2017 Arthur Guiot - All Rights Reserved.
      </div>
    </div>
  </div>
</footer>
