<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{page.title}}</title>
<meta name="description" content="{{page.description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Twitter card meta -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@arthur_guiot">
<meta name="twitter:creator" content="@arthur_guiot">
<meta name="twitter:title" content="Arthur Guiot">
<meta name="twitter:description" content="Arthur Guiot's official personnal website.">
<meta name="twitter:image" content="{{site.baseurl}}/img/noobscroll-marketing.jpg">
<!-- Open graph met atags -->
<meta property="og:title" content="Arthur Guiot" />
<meta property="og:description" content="Arthur Guiot's official personnal website."/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://arguiot.github.io" />
<meta property="og:image" content="https://arguiot.github.io/favico.png" />
<!-- Link tags -->
<link rel="apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon.png">
<link rel="shortcut icon" href="{{site.baseurl}}/favico.png">
<link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/reset.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
