<nav>
  <!-- <img src="{{site.baseurl}}/img/logo.png" alt="Arthur Guiot's logo">
  <span class="logo-text">Arthur Guiot</span> -->
  <ul class="menu">
    <li><a href="{{site.about}}">About</a></li>
    <li><a href="{{site.author.twitter}}">Twitter</a></li>
    <li><a href="{{site.author.github}}">Github</a></li>
  </ul>
  <!-- <div class="responsive-nav m-and-lower">
    <i class="hamburger"><img src="{{site.baseurl}}/img/icon-menu.svg" alt="Menu"></i>
    <ul class="js-toggled">
      <li><a href="{{site.docs}}">Docs</a></li>
      <li><a href="{{site.download}}">Download</a></li>
      <li><a href="{{site.repo}}">Github</a></li>
    </ul>
  </div> -->
</nav>
